.btn {
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ---------- PRIMARY action button ---------- */
.btn-primary {
  background-color: #180dee;
  color: white;
}

.btn-primary:hover:not(:disabled) {
  background-color: #3cdb18;
  color: black;
}

/* ---------- SECONDARY action button---------- */
.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.btn-secondary:hover:not(:disabled) {
  background-color: #f44336;
  color: white;
}

/* ---------- destructive action button ---------- */
.btn-danger {
  background-color: #760705;
  color: white;
}

.btn-danger:hover:not(:disabled) {
  background-color: #f50c0c;
}
